.title {
    text-align: center;
    font-size: 7rem;
    color: #005E2E;
    margin-top: 0;
    padding-top: 1%;
    top: 15px;
}

.copyright {
    text-align: center;
    font-size: 0.8rem;
}

.period {
    font-size: 8rem;
    color: #3b4a3f;
    font-family: Arial, Helvetica, sans-serif;
}

.station-search {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0;
    background-color: #f1fcf3;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #3b4a3f;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

a:visited {
    text-decoration: none;
    font-size: 1.5rem;
    color: #11a65c;
}

@media (orientation: portrait) {
    .title {
        text-align: center;
        font-size: 10vw;
    }

    .period {
        font-size: 18vw;
    }
}

.results {
    border: 2px solid;
    border-color: #3b4a3f;
    border-collapse: collapse;
    margin-left: 3px;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.train-info{
    font-size: 2rem;
    text-align: center;
    color: #005E2E;
    margin-top: 0;
    padding-top: 1%;
    top: 15px;
}

.train-image {
    display: grid;
    margin-top: 16vh;
}

.train-image:p {
   font-size: 2rem;
}